<ion-view view-title="List Videos">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="(key,list_video) in is_list_videos" type="item-text-wrap">
                <img ng-src="{{list_video.images.thumbnail.src}}">
                <h2>{{list_video.id}}</h2>
                <p>{{list_video.name}}</p>
                <a href="#/tab/chats/{{list_video.id}}">
                    <i class="icon ion-chevron-right icon-accessory" ion-item detail-none></i>
                </a>
                <i ng-class="!list_video.added ? 'icon ion-ios-heart-outline': 'icon ion-ios-heart' " ng-click="changeFavorite(list_video.images.thumbnail.src,list_video.id,list_video.name,list_video,key)"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>